* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  width: 1630px;
  height: 74px;
  /* margin-left: 19px; */
  display:inline;
  /* padding-top: 59px; */
  flex-direction: row;
}

.navbar img {
  /* margin-top: 5px; */
  float: left;
  /* margin-right: 60px; */
}

.navbar ul {
  list-style-type: none;
  flex-direction: row;
}

.left {
  float: left;
}

.right {
  float: right;
  padding-right: 135px;
}

.right li a {
  color: #262b35 !important;
  font-weight: bold !important;
  text-decoration: none;
  margin-right: 24px;
}

.right li:nth-child(2) a {
  color: #1ece7a !important;
  font-weight: bold;
  border-left: 3px solid #d4d4d4;
  padding-left: 20px;
  margin-left: 10px;
}

.navbar ul li {
  /* margin-top: 29px; */
  float: left;
}

.navbar ul li a {
  text-decoration: none;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  margin-left: 32px;
  color: #ffffff;
  opacity: 0.6;
  transition: all 220ms ease-in-out;
  cursor: pointer;
}

.navbar ul li a:hover {
  border: 2px solid #1ece7a;
}

.main {
  background-image: url(./assets/images/hero-imagessss.png);
  background-repeat: no-repeat;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;  
}
.hero-title {
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 72px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.hero-content {
  width: 600px;
  height: 444px;
  margin-top: 96px;
  margin-left: 119px;
}

.hero-content span {
  color: #1ece7a !important;
}

.hero-paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 160%;
  color: #ffffff;
}

.hero-action {
  width: 292px;
  height: 44px;
  margin-top: 64px;
}

.btn {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  width: 128px;
  height: 44px;
  border-radius: 3px;
  padding: 15px;
  text-decoration: none;
}

.hero-action .btn-default {
  margin-left: 16px;
}

.btn-primary {
  background: #1ece7a;
  transition: all 220ms ease-in-out;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: transparent;
  border: 1.2px solid #1ece7a;
}

.btn-default {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  padding-left: 22.5px;
  padding-right: 22.5px;
  transition: all 220ms ease-in-out;
  cursor: pointer;
}

.btn-default:hover {
  background-color: #1ece7a;
  border: 1px solid #ffffff;
}


/* feature */
.containerFeatureSection p {
  width: 100%;
  height: 96px;
  margin-top: 182px;
  padding: 0 450px;
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  align-items: center;
  letter-spacing: 0.01em;
  color: #606c84;
}

.containerFeatureSection img {
  margin: 0;
}

.containerImages {
  float: right;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.containerFeatureSection p {
  margin-top: 128px;
}

.contentFeature p {
  width: 100%;
  height: 21px;
  margin-top: 128px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.6em;
  text-transform: uppercase;
  color: #1c57c9;
}

.contentFeature img {
  margin-left: 300px;
  float: left;
  margin-top: 85px;
}

.contentFeature h2 {
  width: 100%;
  height: 59px;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #262b35;
}

.contentFeature h5 {
  text-align: left;
  height: 87px;
  margin-left: 85px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #606c84;
  padding-right: 400px;
}

.item-feature-group {
  height: 488px;
  margin-top: 60px;
  padding-right: 50px;
}

.card-feature img {
  width: 55px;
  height: 55px;
  left: 661px;
  top: 1513px;
}

.card-feature {
  width: 324px;
  height: 226px;
  float: left;
  margin-right: 10px;
}

.content-body-title {
  width: 242px;
  height: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #262b35;
  margin-top: 36px;
}

.content-body-text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  padding-right: 4px;
  margin-top: 18px;
  color: #606c84;
}

.update {
  background-image: url(./assets/images/background-blue.png);
  width: 1440px;
  height: 1170px;
  margin-left: auto;
  margin-right: auto;
}


.update-content-left {
  width: 45%;
  float: left;
}

.update-content-left img{
  margin-top:68px;
}

.update-content-right{
  width:50%;
  float: right;
}

.card-update{
  margin:90px;
  width: 410px;
}

.card-update img{
  float: left;
}

.card-update-content{
    margin-left:90px;
}

.card-update-content 
.content-body-title, 
.card-update-content 
.content-body-text{
  color: #FFFFFF !important;
}

.box-title-update{
  margin-left: 119px;
  width:440px;
  margin-top: 40px;
}

.sectionsubtitle {
  width: 106px;
  height: 21px;
  left: 119px;
  top: 2237px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.6em;
  text-transform: uppercase;
  margin-top: 54px;
  color: #1c57c9;
}

.sectiontitle {
  width: 440px;
  height: 118px;
  margin-top: 16px;
  margin-bottom: 64px;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #262b35;
}

/* Service */
.gradient{
  background-image: url(assets/images/gradient.png) ;
  background-repeat: no-repeat;
  height: 2460px;
  margin-left: 300px;
}

.services {
 width: 1120px;
 height: 1290px;
 margin-left: 300px;
 margin-top:212px;
 padding-inline-start: 119px;
 align-items: center;
 text-align: center;
 /* text-align: center;
 align-items: center; */
 /* background-color: #cad6d0; */
}

.item-services-group {
 width: 1120px;
 height: 328px;
}

.card-service {
 width: 360px;
 height: 96px;
 left: 159px;
 top: 4430px;
 background: #FFFFFF;
 box-shadow: 0px 6px 48px rgba(0, 0, 0, 0.1);
 border-radius: 16px;
 float: left;
 margin: 5px;
 display: flex;
 align-items: center;
 text-align: center;
}

.card-service img {
  /* margin-left: 500px; */
 /* margin-right: 30px; */
 /* margin-left: 24px; */
 align-items: center;
 margin-left: auto;
 margin-right: auto;
}

.image-home{
 width: 674px;
 height: 600px;
 /* margin-left: 214px; */
 margin-top:86px;
 margin-bottom:127px;
}


.section-subtitle{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.6em;
  text-transform: uppercase;
  color: #1C57C9;
  text-align: center;
  align-items: center;
  margin-bottom: 16px;
  /* margin-left: 300px; */
}

.section-title{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #262B35;
  /* margin-left: 300px; */

}

.section-paragraph{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #606C84;
  /* margin-left: 300px; */

}

.form-title{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #262B35;
  margin-top:16px;
  margin-bottom:24px;
  margin-left: 300px;
}

/* testimonial */

.testimonial{
  width: 1196.88px;
height: 615px;
margin-top: 150px;
text-align: center;
align-items: center;
/* background-color:rgb(131, 185, 185); */
margin-left: 330px;
}


/* 


.update-content-left img{
  margin-top:68px;
}

.box-title-update {
  width: 440px;
  height: 145px;
  margin-left: 119px;
}



.update-content-left img {
  width: 750px;
  height: 676px;
  margin-bottom: 221px;
}

.update-content-right {
  width: 50%;
  float: right;
}

.card-update{
  margin:90px;
  width: 410px;
}

.card-update img{
  float: left;
}

.card-update-content{
  margin-left:90px;
}
 */
